body {
    background-color:antiquewhite;
    color:green;
}
/*Styling the list of items in the nav bar */
nav ul {
    display: flex;
    flex-wrap:wrap;
    margin:0;
    padding:0;
    z-index:10;
}
nav li {
    list-style:none;
    background-color:green;
    color:antiquewhite;
    margin: 0;
    flex: 1;
    text-align:center;
    min-width:200px;
    position:relative;
    display:flex;
}
/* Styling the link, both unvisited and visited */
nav a, nav a:visited {
    text-decoration:none;
    width:100%;
    padding: 8px 0px;
    color:antiquewhite;
}
/*Hovering over a link AND the active (current) */
nav a:hover, nav a.active {
    color:green;
    background-color: rgb(173, 230, 180);
}
.dropdown-content {
    position:absolute;
    top:37px;
    width:100%;
    display:none;
    z-index:20;
}
nav li:hover .dropdown-content {
    display:block;
}
.dropdown-content a{
    font-weight:bold;
}

.dropdown-content ul {
    flex-direction:column;
}body {
     background-color:antiquewhite;
     color:green;
 }
/*Styling the list of items in the nav bar */
nav ul {
    display: flex;
    flex-wrap:wrap;
    margin:0;
    padding:0;
    z-index:10;
}
nav li {
    list-style:none;
    background-color:green;
    color:antiquewhite;
    margin: 0;
    flex: 1;
    text-align:center;
    min-width:200px;
    position:relative;
    display:flex;
}
/* Styling the link, both unvisited and visited */
nav a, nav a:visited {
    text-decoration:none;
    width:100%;
    padding: 8px 0px;
    color:antiquewhite;
}
/*Hovering over a link AND the active (current) */
nav a:hover, nav a.active {
    color:green;
    background-color: rgb(173, 230, 180);
}
.dropdown-content {
    position:absolute;
    top:37px;
    width:100%;
    display:none;
    z-index:20;
}
nav li:hover .dropdown-content {
    display:block;
}
.dropdown-content a{
    font-weight:bold;
}

.dropdown-content ul {
    flex-direction:column;
}